__pycache__
__pycache__/*
*/__pycache__
*.pyc
*.log
.DS_Store
log/
*.out
*.zip
.idea/*
.env
build/*
dist/*
*.egg-info/*
venv/
.vscode/*
example.ipynb
example.py
videodb-recorder
# test_local.py
# capture_bin/videodb_capture_bin/bin/*